/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --nav: #283655;
    --bg: #e2edff;
}

body {
    font-family: "Roboto", sans-serif;
}

section {
    padding-top: 6rem;
}

/* Navbar Section */
#navbar {
    background-color: var(--nav);
}

/* Jumbotron Section */
.jumbotron {
    padding-top: 8rem;
    background-color: var(--bg);
}

#about h2,
#projects h2,
#gallery h2,
#skills h2 {
    margin: 1rem 0 4rem;
    font-size: 2.5rem;
    font-weight: 700;
    color: #283655;
}

/* Projects Section */
#projects {
    background-color: var(--bg);
}

/* Gallery Section */
#gallery .row > * {
    padding: 0;
}

.gallery-img {
    width: 100%;
}

/* Phone Section */
#skills {
    background-color: var(--bg);
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 3rem;
}

.education {
    display: flex;
    gap: 2rem;
}

.education .line {
    padding: 0 0.7rem;
}

.education .line div {
    width: 2px;
    height: 100%;
    background-color: var(--nav);
    position: relative;
}

.education-tittle {
    margin-top: -5px;
    font-size: 1.2rem;
    font-weight: 700;
}

.education-info p {
    margin: 0.6rem 0 0.6rem;
}

.education-years {
    margin-bottom: 3rem;
    font-size: 1.1rem;
}

.education .line div::before {
    content: '';
    width: 15px;
    height: 15px;
    background-color: var(--nav);
    border-radius: 50%;
    position: absolute;
    left: -6px;
}

.skills-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 1.5rem;
}

.skills-right p {
    font-size: 1.2rem;
    font-weight: 400;
}

.skills-right ul {
    line-height: 2rem;
    padding: 0 1rem;
}

/* Contact Section*/
#contact .yaya {
    background-color: var(--nav);
    border: var(--nav);
}

/* Footer Section */
footer {
    background-color: var(--nav);
    color: white;
    text-align: center;
    padding: 1.5rem;
}